[user]
	email = jxm262@gmail.com
	name = Justin Maat
[core]
	autocrlf = input
[alias]
	co = checkout
	assume = update-index --assume-unchanged
	unassume = update-index --no-assume-unchanged
	assumed = \"!git ls-files -v | grep ^h | cut -c 3-\"
